nav{
    background-color: #722595;

    
}
.item{
    line-height: 2.5;
    text-align: center;
    list-style: none;
    color: white;
    
}

.item:hover{
    color:#722595;
    background-color:#00B2B1 ;
    border: 2px solid #722595;
}

.item a{
    color: white;
    text-decoration: none;
    display: block;
}

@media screen and (min-width:768px){
    .menu{
      display: flex;
      flex-direction: row;
   }
   .item{
       flex-grow: 1;
   }
}